.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    height: 400px;
    border: 1px solid blue;
    margin: 20px;
    padding: 20px;
    grid-template-areas: 
    "left ..."
    "left ..."
    "left ..."
    ;
}

.container__item {
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: white;
}

.container__item--last {
    grid-area: left;
}